/**
 * @package 	WordPress
 * @subpackage 	Hotel LUX
 * @version		1.0.8
 * 
 * Design CSS Rules
 * Created by CMSMasters
 * 
 */
/*-------------------------------------------------------------------------*/
/* Vars Styles
/*-------------------------------------------------------------------------*/

/*
     FILE ARCHIVED ON 15:02:18 Feb 13, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:26:38 Aug 05, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.478
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 52.433
  LoadShardBlock: 316.667 (3)
  PetaboxLoader3.resolve: 749.409 (4)
  PetaboxLoader3.datanode: 118.67 (4)
  load_resource: 589.484
*/